<h1>Movie #<%= @the_movie.id %> details</h1>

<a href="/movies">Go back</a>

<hr>

<dl>
  <dt>Title</dt>
  <dd>The Shawshank Redemption</dd>

  <dt>Year</dt>
  <dd>1994</dd>

  <dt>Duration</dt>
  <dd>142</dd>

  <dt>Description</dt>
  <dd>yutritu</dd>

  <dt>Image</dt>
  <dd><img src="https://image.tmdb.org/t/p/w500/5KCVkau1HEl7ZzfPsKAPM0sMiKc.jpg" style="width:250px;"></dd>

  <dt>Director</dt>
  <dd>Frank Darabont</dd>

  <dt>Created at</dt>
  <dd>2015-08-12 17:20:11 UTC</dd>

  <dt>Updated at</dt>
  <dd>2015-08-12 17:20:11 UTC</dd>

</dl>
<hr>
